# Area: Editor configurations
.vscode/              @dowlandaiello
.idea/                @RDIL
.editorconfig         @RDIL
.sublime-project      @RDIL

# Area: Tools
tools/                @RDIL

# Area: Main code
area4/                @N8python
*.py                  @N8python

# Area: Docs
docs/                 @CoffeeGoddess
.github/              @CoffeeGoddess
*.md                  @CoffeeGoddess
changelog.txt         @CoffeeGoddess

# Area: Licensing
LICENSE               @CoffeeGoddess @RDIL

# Area: Requirements
requirements/*.txt    @RDIL
requirements.txt      @RDIL

# Area: Configuration files
*.cfg                 @RDIL
*.in                  @RDIL
*.yml                 @RDIL
