# Area: Visual Studio Code config
.vscode/              @dowlandaiello

# Area: Main code
area4/                @RDIL @rocketpropelledpotato
area4/util/           @RDIL @rocketpropelledpotato

# Area: Docs
docs/                 @CoffeeGoddess
.github/*.md          @CoffeeGoddess

# Area: Requirements
requirements/*.txt    @RDIL @theonetheonlydemon
requirements/         @RDIL @theonetheonlydemon
