# Area: Visual Studio Code config
.vscode/              @dowlandaiello

# Area: Main code
area4/                @RDIL @rocketpropelledpotato
area4/util/           @RDIL @rocketpropelledpotato
*.py                  @RDIL @rocketpropelledpotato

# Area: Docs
docs/                 @CoffeeGoddess
.github/*.md          @CoffeeGoddess
.github/              @CoffeeGoddess
*.md                  @CoffeeGoddess

# Area: Requirements
requirements/*.txt    @RDIL
requirements/         @RDIL

# Area: Configuration files
setup.cfg             @RDIL
setup.py              @RDIL
.pypirc               @RDIL
