# EditorConfig is awesome!: https://editorconfig.org

root = true

[*.py]
charset = utf-8
indent_style = space
indent_size = 4

[*.{cirrus,travis,pyup,checks,markdownlint}.yml]
indent_style = space
indent_size = 2

[*.json]
trim_trailing_whitespace = false

[.sublime-project]
indent_size = 4
indent_style = space
