# setuptools distributions
/dist/
/area4.egg-info/
/area4.dist-info/
/build/
/eggs/
/.eggs/
/sdist/
/wheels/

# JetBrains IDE
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/area4.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/dictionaries/

# Byte-compiled / optimized / DLL files
/__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
/htmlcov/
/.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
/.hypothesis/

# Scrapy stuff:
.scrapy

# IPython
/profile_default/
ipython_config.py

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
/env/
/venv/
/ENV/
/env.bak/
/venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
/.mypy_cache/
.dmypy.json
dmypy.json

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Vim Session
Session.vim

# Dump file
*.stackdump

# Windows
$RECYCLE.BIN/
*.lnk
desktop.ini
Desktop.ini
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Linux
.directory
.fuse_hidden*
.Trash-*
.nfs*

*.raw
*.zip
*.gz
*.tgz
*.bzip
*.bz2
*.egg
*.rpm
*.vcs
*.bak
docs/_build
