# Compiled python modules.
*.pyc

# setuptools distribution
/dist/
/area4.egg-info/
/area4.dist-info/
/build/
/eggs/
/.eggs/
/sdist/
/wheels/

# JetBrains IDE
/.idea/workspace.xml
/.idea/dictionaries/

# Byte-compiled / optimized / DLL files
/__pycache__/
*.py[cod]

# Distribution / packaging
.Python
/develop-eggs/
/downloads/
/lib/
/lib64/
/parts/
.installed.cfg

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
/htmlcov/
/.tox/
/.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
/.hypothesis/

# Scrapy stuff:
.scrapy

# IPython
/profile_default/
ipython_config.py

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
/env/
/venv/
/ENV/
/env.bak/
/venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mypy
/.mypy_cache/
.dmypy.json
dmypy.json

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Session
Session.vim

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Notepad++ backups
*.bak

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Zip formats
*.raw
*.zip
*.gz
*.tgz
*.bzip
*.bz2

# Package management formats
*.egg
*.rpm
*.vcs
